.form {
  display: flex;
  flex-direction: column;
  gap: 32px;
  max-width: 385px; /* Changed from 317px to 385px */
}

.form__fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.form__label {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__label-caption {
  margin-bottom: 8px; /* Changed from 32px to 8px */
  font-weight: 500;
}

.form__input {
  border-radius: 4px;
  height: 60px;
  padding: 0 15px;
  border: 1px solid #838383;
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #838383;
}

.form__button {
  border-radius: 4px;
  background-color: #2f80ed;
  color: #fff;
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  height: 60px;
  border: none;
  transition: background-color 0.3s ease;
}

.form__button:hover {
  background-color: #1f69c9;
}

.form__label_type_checkbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}

.form__checkbox {
  display: flex;
  justify-content: center; /* Added to center the checkbox content */
  align-items: center; /* Added to vertically align the checkbox and label */
  gap: 12px; /* Added some space between the checkbox and the label text */
  border-radius: 2px;
  width: 20px;
  height: 20px;
  background-color: #2f80ed;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.form__checkbox-label {
  display: flex;
  align-items: center;
  gap: 12px;
}

.form__checkbox:checked {
  background-image: url("../images/check.svg");
  background-repeat: no-repeat;
  background-position: center;
}
