.menu {
  background-color: #fff;
  background-image: url("../images/background_menu.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 0;
}

.menu__title {
  max-width: 780px;
  margin-bottom: 24px;
  text-align: center;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.menu__subtitle {
  max-width: 780px;
  margin-bottom: 100px;
  text-align: center;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
}

.menu__cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 100px;
  width: 100%;
  max-width: 1300px;
}

.card {
  width: 540px;
  padding: 0;
}

.card__title {
  margin: 0 0 32px;
  font-family: "Inter", Arial, sans-serif;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
}

.card__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.card__list-item {
  display: flex;
  margin-bottom: 16px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 16px;
  line-height: 20px;
}

.card__list-item:last-of-type {
  margin-bottom: 0;
}

.card__list-divider {
  flex-grow: 1;
  border-bottom: 1px solid black;
  margin: 0 5px;
}
